<% var config = SARAH.ConfigManager.getConfig();  %> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title><%= config.bot.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- http://blogs.msdn.com/b/ie/archive/2012/04/03/pinned-sites-in-windows-8.aspx -->
    <meta name="application-name"              content="<%= config.bot.name %>" />
    <meta name="msapplication-tooltip"         content="<%= config.bot.name %>" />
    <meta name="msapplication-window"          content="width=1024;height=768" />
    <meta name="msapplication-starturl"        content="/" />
    <meta name="msapplication-navbutton-color" content="#D6D0CC" />
    <meta name="msapplication-TileColor"       content="#D6D0CC"/> 
    <meta name="msapplication-TileImage"       content="/images/ms-tile-white.png"/>
    <meta name="msapplication-badge" value="frequency=30;polling-uri=http://127.0.0.1:8080/badge" />
    
    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="gridster/jquery.gridster.css" rel="stylesheet">
    <link href="css/bootstrap-switch.css" rel="stylesheet">
    
    <link href="css/theme.css"          rel="stylesheet">
    <link href="css/theme-gridster.css" rel="stylesheet">
    <link href="css/theme-editor.css"   rel="stylesheet">
    <link href="css/theme-ifttt.css"    rel="stylesheet">
    
    <%- stylesheets -%>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon"                                href="bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"                 href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
    
    <script src="js/jquery-1.8.2.js"></script>
  </head>

  <body>

    <%- body -%>
    
    <!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
   
    <%- partial('../fragments/scripts') %>
    <%- scripts -%>
    
  </body>
</html>

