<% var config = SARAH.ConfigManager.getConfig();  %> 
<%- partial('../fragments/layout-header') %>
  
<% var config = SARAH.ConfigManager.getConfig();  %>
<div id="container" class="container">
  <div class="stretch row">
      <div class="stretch col-md-2 hidden-print">
        <div id="navbar" >
        
          <h2><script>document.write(moment().format("HH:mm"));</script></h2>
            
          <p class="text-center" style="font-size: 20px; padding: 10px;"><a href="/home" class="btn btn-red" style="padding: 5px 30px">Accueil</a><br/><span style="font-size: 11px;">version <%= config.bot.version %></span></p>
            
          <ul class="nav">
            <li <%= nav == 'store' ? "class='active'" : "" %>><a href="/store" id="storeMenu">Store</a></li>
            <li <%= nav == 'rules' ? "class='active'" : "" %>><a href="/rules" id="rulesMenu">Règles</a></li>
            <li <%= nav == 'kinect'? "class='active'" : "" %>><a href="/kinect">WebSocket</a></li>
            <li <%= nav == 'about' ? "class='active'" : "" %>><a href="/about">A propos</a></li>
          </ul>
          
          <% if (nav == 'home' && !SARAH.PluginManager.hasPlugins()) { %>
            <%- partial('../fragments/popover') %>
          <% } %>
          
          <% if (nav === 'home') { %>
          <p class="text-center" style="font-size: 20px; padding: 20px;"><span class="glyphicon glyphicon-ok-circle"></span></p>
          
          <ul class="nav">
            <li class='active'><a href="#modules"  data-toggle="tab">Module</a></li>
            <li>               <a href="#phantoms" data-toggle="tab">Phantom</a></li>
            <li>               <a href="#cron"     data-toggle="tab">C.R.O.N.</a></li>
          </ul>
          <% } %>
          
          <p class="text-center" style="font-size: 20px; padding: 20px;"><span class="glyphicon glyphicon-ok-circle"></span></p>
            
          <ul class="nav">
            <li><a href="http://encausse.wordpress.com/s-a-r-a-h/s-a-r-a-h-documentation/">Documentation</a></li>
            <li><a href="http://plus.google.com/u/0/communities/105964514508504667709">Communauté</a></li>
            <li><a href="http://encausse.spreadshirt.fr/">Boutique</a></li>
            <li><a href="https://mapsengine.google.com/map/edit?mid=zwdZSL38CZZM.kKTHzTbZC0kQ">Cartographie</a></li>
            <li><a href="http://encausse.net/s-a-r-a-h/" class="navbar-link">Encausse.net</a></li>
          </ul>
          
          <p class="text-center" style="font-size: 20px; padding: 20px;"><span class="glyphicon glyphicon-ok-circle"></span></p>
          
        </div>
      </div>
      

      <%- body -%>

      
      <div class="stretch col-md-2 hidden-print" >
        <div id="navchat">
          <h2>Live</h2>
          <h2 class="head" style="text-align: center"><img src="images/headline-logo.png" id="headline-logo" width="200"/></h2>
          
          <p id="ticker"><%= SARAH.ConfigManager.getTicker() %></p>
          
          <h3>Encausse.net <span class="glyphicon glyphicon-export"></span></h3>
          <ul id="news">
          <% 
            var feed = SARAH.getRSSFeed('http://encausse.wordpress.com/category/domotique/sarah/feed/')
	          for(var i = 0 ; feed && i < 6 && i < feed.items.length ; i++){
	            var item = feed.items[i];
	        %>
	        <li>
	          <span class='glyphicon glyphicon-record'></span>
	          <a href="<%= item.link %>"><%= item.title %></a>
	        </li>
	        <% } %>
          </ul>
        </div>
      </div>
  
  </div>
</div>
    
<%- partial('../fragments/layout-footer') %>

