
  <p class='plugin-footer-left'>
    <a class="btn edit-config" href="#" data-toggle="modal" data-target="#<%= type %>_<%= key %>" title="Configurer le module"><i class="icon-wrench"></i><span> Config.</span></a>
    <% if (SARAH.PluginManager.hasWebPage(key)){ %>
    <a class="btn" href="/plugins/<%= key %>" title="Documentation"><i class="icon-globe"></i><span> Doc.</span></a>
    <% } %>
  </p>

  <% if (type){ %>
  <p class='plugin-footer-right'><a class="btn edit-plugin" href="editor?type=<%= type %>&key=<%= key %>" title="Editer les fichiers"><i class="icon-pencil"></i></a></p>
  <% } %>

<div class="modal hide fade" id="<%= type %>_<%= key %>">
  <form class="form-horizontal" method="POST" action="/config">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= key %></h3>
  </div>
  <div class="modal-body">
    <% if (module.description){ %>
    <p><%= module.description %></p>
    <% } %>
    
	  <% Object.keys(module).forEach(function(attr){ %>
	  <% var value = module[attr]; %>
	  <% if (attr == 'description') return; %>
	  <% if (attr == 'version')     return; %>
	  <% if (attr == 'x' || attr == 'y' || attr == 'w' || attr == 'h' || attr == 'c') return; %>
	  <div class="control-group">
	    <label class="control-label"><%= attr %></label>
	    <div class="controls">
	      <input type="text" name="<%= attr %>" value="<%= value %>" placeholder="Saisir la valeur...">
	    </div>
	  </div>
	  <% }); %>
	  
	  <fieldset>
	    <legend>Grille: </legend>
      
      <label class="control-label tiny">
      <select  name="c" class="span1">
        <option value="default" <%= module['c'] == 'default' ? 'selected' : '' %>>default</option>
        <option value="orange"  <%= module['c'] == 'orange'  ? 'selected' : '' %>>orange</option>
        <option value="green"   <%= module['c'] == 'green'   ? 'selected' : '' %>>green</option>
        <option value="yellow"  <%= module['c'] == 'yellow'  ? 'selected' : '' %>>yellow</option>
        <option value="brown"   <%= module['c'] == 'brown'   ? 'selected' : '' %>>brown</option>
        <option value="pink"    <%= module['c'] == 'pink'    ? 'selected' : '' %>>pink</option>
      </select>
      </label>
      
	  <% ['x','y','w','h'].forEach(function(attr){ %>
	    <label class="control-label tiny"><%= attr %>
	    <input type="text" name="<%= attr %>" value="<%= module[attr] || 1 %>" class="span1" placeholder="Saisir la valeur...">
	    </label>
	  <% }); %>
	  </fieldset>
	  
	  <input type='hidden' name='key' value='<%= (type.length > 0 ? type+'.' : '') + key %>'/>
  </div>
  <div class="modal-footer">
    <% 
      var v = SARAH.ConfigManager.getJSON(key);
      v = v[type] || false; v = v[key]  || false; v = v.version || false;
      if (v) {
    %>
    <div class="pull-left btn disabled">v<%= v %></div>
    <input type="hidden" name="version" value="<%= v %>"/>
    <% } %>
    <a href="#" class="btn" data-dismiss="modal">Fermer</a>
    <input type="submit" class="btn btn-primary" value="Enregistrer" />
  </div>
  </form>
</div> 