<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= SARAH.ConfigManager.getConfig().bot.name %></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><a href="http://encausse.wordpress.com/s-a-r-a-h/s-a-r-a-h-documentation/">Documentation</a></li>
          <li><a href="http://plus.google.com/u/0/communities/105964514508504667709">Communauté</a></li>
          <li><a href="http://encausse.net/s-a-r-a-h/" class="navbar-link">Encausse.net</a></li>
        </ul>
        <ul class="nav">
          <li <%= nav == 'home'  ? "class='active'" : "" %>><a href="/home">Accueil</a></li>
          <li <%= nav == 'store' ? "class='active'" : "" %>><a href="/store" id="storeMenu">Store</a></li>
          <li <%= nav == 'rules' ? "class='active'" : "" %>><a href="/rules" id="rulesMenu">Règles</a></li>
          <li <%= nav == 'kinect'? "class='active'" : "" %>><a href="/kinect">WebSocket</a></li>
          <li <%= nav == 'about' ? "class='active'" : "" %>><a href="/about">A propos</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<% if (nav == 'home' && !SARAH.PluginManager.hasPlugins()) { %>
<div class="popover" id="popStore">
  <div class="arrow"></div>
  <div class="popover-inner">
    <h3 class="popover-title"></h3>
    <div class="popover-content"><p></p></div>
  </div>
</div>

<script type="text/javascript" language="JavaScript">
  $(document).ready(function(){
    
    $('#storeMenu').popover({ 
      title:   'Nouveautés',
      content: 'Téléchargez de nouveaux scripts dans le store !',
      placement: 'bottom',
      template: '#popStore'
    }) 
    
    $('#storeMenu').popover('show');
  });
</script>
<% } %>