<% layout('layouts/layout') %>
    
    <%- partial('fragments/navbar') %>
    <%- partial('fragments/confirm') %>
    <%- partial('fragments/headline') %>

    <div id="container" class="container">
      <div class="page">
 
         <div class="page">
	          <h3>Changelogs</h3>
	          <pre>
<%= SARAH.render('README/changelog.txt') %>
	          </pre>
          </div>
	        
      </div><!--/row-->
    </div><!--/.fluid-container-->
    <%- partial('fragments/footer') %>
